include Makefile

DIST_FILES = \
	Changelog \
	Makefile \
	README \
	atinout.1 \
	atinout.1.html \
	atinout.c \
	atinout.spec \
	gplv3.txt \
	logo/atinout.svg

changelog:
	( \
		echo; \
		date +"Version $(VERSION) (%Y-%m-%d)"; \
		echo ----------------------------; \
		echo; \
	) >> Changelog
	vi +$(shell wc -l Changelog)
	(date | sed 's/^/* /; s/ ..:..:.. CES?T//' | tr -d '\012'; echo " Håkon Løvdal <hlovdal@users.sourceforge.net> - $(VERSION)-1") >> atinout.spec.in
	sed -n '/$(VERSION)/,$$p' Changelog | sed '1,3d; s/^\*/-/' >> atinout.spec.in
	vi +$(shell wc -l atinout.spec.in)

dist_tar_file:
	if [ `git tag -l v$(VERSION)`x == x ]; \
	then \
		echo "Tag v$(VERSION) is missing, fix that"; \
		exit 1; \
	fi
	if [ -f Makefile.SAVE ]; \
	then \
		echo "Resolve Makefile.SAVE conflict"; \
		exit 1; \
	fi
	mv Makefile Makefile.SAVE
	./strip_make.pl Makefile.SAVE > Makefile
	git diff Makefile
	tar zcvf atinout-$(VERSION).tar.gz --transform="s@^@atinout-$(VERSION)/@" $(DIST_FILES)
	mv Makefile.SAVE Makefile

